DATABASE_URL="postgresql://postgres:1234@adoptme-postgres:5432/postgres?schema=public"
AWS_ACCESS_KEY_ID=AK
AWS_SECRET_ACCESS_KEY=SK
AWS_BUCKET=adoptme
AWS_ENDPOINT=https://something
AWS_DEFAULT_REGION=th
AWS_USE_PATH_STYLE_ENDPOINT=true
